<div class="container new-list col-12 col-lg-10 mt-4">
<h4>Wallet Name: <%=@wallet.name %></h4>
<h5>Balance: <%= @wallet.balance %></h5>

<% if policy(@wallet).edit? %>
  <%= link_to 'Edit The Wallet', edit_wallet_path, class:"btn btn-primary mb-3"  %>
<% end %>
<% if policy(@wallet).edit? %>
  <%= link_to 'Make a Transaction', new_wallet_transaction_path(@wallet), class:"btn btn-primary mb-3"  %>
<% end %>
<h3>Transaction History</h3>
<ul class="list-group list-group-horizontal-lg">
  <li class="list-group-item list-activity">Activity</li>
  <li class="list-group-item list-amount">Amount</li>
  <li class="list-group-item list-receiver">Cash_Receiver</li>
  <li class="list-group-item list-sender">Cash_Sender</li>
  <li class="list-group-item list-sender">Create_Time</li>
</ul>
<% @wallet.transactions.each do |transaction| %>
<ul class="list-group list-group-horizontal-lg">
  <li class="list-group-item list-activity"><%= transaction.activity %></li>
  <li class="list-group-item list-amount"><%= transaction.amount %></li>
  <li class="list-group-item list-receiver"><%= transaction.receiver_email %></li>
  <li class="list-group-item list-sender"><%= transaction.sender_email %></li>
  <li class="list-group-item list-sender"><%= transaction.created_at.strftime("%m-%e-%y %H:%M")%></li>
</ul>
<% end %>
</div>
