<div class="container new-list col-12 col-lg-4">
<%= simple_form_for([@wallet, @transaction]) do |t| %>
  <div class="form-inputs">
    <%= t.input :activity,label: 'Make a transaction:' ,collection: Transaction::OPTIONS%>
  </div>

  <div class="form-inputs">
    <%= t.input :amount,label: 'Enter a Amount:', placeholder:"give a number" %>
  </div>

  <div class="form-inputs">
    <% emails = []%>
    <% User.all.each do |user| %>
      <% if @wallet.user != user %>
        <% emails<< user.email %>
      <% end %>
    <% end %>
    <%= t.input :receiver_email,label: 'Enter a email:',collection: emails%>
  </div>

  <div class="form-actions btn btn-blue">
    <%= t.button :submit %>
  </div>
<% end %>
</div>
